<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="BestBooks.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This site permits you vote and comment movies, books and games">
    <title>MBG Library Games</title> <!-- Or MBG(Movie Books Games) library -->
</head>
<body>

<!-- Navbar-->
<header class = "header">
    <img src="mbg1.png" alt="Logo" class="logo">
    <div class="logo-text">
        <div class="logo-text1">MBG Library</div>
        <div class="logo-text2" >explore your hobby</div>
    </div>
    <nav>
        <ul class="menu">
            <li onclick="location.href='index.html';" ><a class="nav-a">Home</a></li>
            <li onclick="location.href='BestFilms.html';"><a class="nav-a">Movies</a></li>
            <li onclick="location.href='BestGames.html';"><a class="nav-a">Games</a></li>
        </ul>
    </nav>
    <button class="nav-button">Login</button>
</header>

<!-- Main structure -->
<main>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto beatae culpa cum, dolores molestiae natus necessitatibus nemo quas quo recusandae reiciendis rem saepe ut voluptatum. Error, placeat.
</main>

<!-- End Page -->
<footer class="footer">
    <p class="footer-text1">MBG Library</p>
    <p class="footer-text2" >Creato da Oleksandr, Tiziano e Alessandro</p>
</footer>
</body>
</html>