* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* nav bar configurations */
body{
    background: #242424;
}

.menu,
.nav-a,
.nav-button{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.header{
    background-color: #181818;
    padding: 10px 5%;
    margin: fill;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 20px 20px;
    transition: all .3s ease;
}

.menu li a{
    transition: all .2s ease;
}

.menu li:hover{
    background: #242424;
}

.menu a:hover{
    color: #39f;
}

.nav-button{
    margin-left: 30px;
    padding: 9px 25px;
    background: #0d94a6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-button:hover{
    background: #39f;
}

.logo{
    border-radius: 50px;
    width: 100px;
    display: inline-block;
}

.logo-text{
    display: inline-block;
    margin-right: auto;
    color: #666666;
    text-align: center;
}

.logo-text1{
    font-family: "Segoe Script";
    display: table;

}

.logo-text2{
    font-family: "papyrus", fantasy;
    font-size: 12px;
}







/* Footer configuarations  */
.footer {
    background-color: #181818;
    margin: 0 auto;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

.footer-text1{
    color: #666666;
    padding-top: 30px;
    font-size: 20px;
    font-family: "Segoe Script";
}

.footer-text2{
    color: #777777;
    padding-bottom: 30px;
    font-size: 12px;
    font-family: "papyrus", fantasy;
}