<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/base.css}" />
  <link rel="stylesheet" th:href="@{/css/error.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
        crossorigin="anonymous"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Error Page</title>
</head>
<!-- NAVIGATION bar -->
<nav th:replace="fragments/base.html :: intestazione"></nav>
<!-- Main Section -->

<div id="error">
  <div id="box"></div>
  <h3 th:text="${'Error: ' + status}">ERROR 404</h3>
  <p>Things are a little <span>unstable</span> here</p>
  <p>
    There seems to be a problem with the page you requested
    (
  <p th:text="${path}"></p>
  ).
  </p>
  <p th:text="${'Details: ' + message}" />
</div>

<script type="text/javascript" th:src="@{/js/base.js}"></script>

</div>
</html>