<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title>Film Form</title>
</head>
<body>

<div class="forms">
    <div class="form login">
        <span class="title">Form Film </span>
        <a th:href="@{/default}">
            <div class="close-btn">
                <i class="uil uil-times close-bar"></i>
            </div>
        </a>


        <form th:action="@{/admin/film}" method="POST" th:object="${film}" >
            <div class="input-field">
                <input type="text" placeholder="Enter film's name" required
                       th:field="*{nome}" >
                <div class="errori" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Enter film's year" required
                       th:field="*{anno}" >
                <div class="errori" th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></div>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Enter film's genre" required
                       th:field="*{genere}" >
                <div class="errori" th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></div>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Enter film's description" required
                       th:field="*{descrizione}" >
                <div class="errori" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
            </div>

            <div class="button__container">
                <button class="login__btn button" type="submit" th:text="#{button.register}">SingIn</button>
            </div>
        </form>

<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>