<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This site permits you vote and comment movies, books and games">
    <title>User Page</title> <!-- Or MBG(Movie Books Games) library -->
</head>
<body>

<!-- Nav Bar -->
<nav th:replace="fragments/base.html :: intestazione"></nav>



<!-- Bookmark Section-->
<div class="main-box">
    <div class="title">
        <h1>Bookmarks</h1>
    </div>
    <div class="title2">
        <h1>Film</h1>
    </div>
    <div class="container">
        <div class="box" th:if="${!user.getFilmPreferiti().isEmpty()}"
            th:each="film : ${user.getFilmPreferiti()}">
            <span></span>
            <div class="content">
                <h2 th:text="${film.nome}">Card One</h2>
                <p th:text="${film.descrizione}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="bottoni">
                    <a th:href="'/film/' + ${film.id}">Read More</a>
                    <a href="#">Unbookmark</a>
                </div>
            </div>
        </div>
    </div>
    <div class="title2">
        <h1>Serie TV</h1>
    </div>
    <div class="container">
        <div class="box" th:if="${!user.getSerieTvPreferite().isEmpty()}"
             th:each="serie : ${user.getSerieTvPreferite()}">
            <span></span>
            <div class="content">
                <h2 th:text="${serie.nome}">Card One</h2>
                <p th:text="${serie.descrizione}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="bottoni">
                    <a th:href="'/serieTv/' + ${serie.id}">Read More</a>
                    <a href="#">Unbookmark</a>
                </div>
            </div>
        </div>
    </div>
    <div class="title2">
        <h1>Giochi</h1>
    </div>
    <div class="container">
        <div class="box" th:if="${!user.getGiochiPreferiti().isEmpty()}"
             th:each="gioco : ${user.getGiochiPreferiti()}">
            <span></span>
            <div class="content">
                <h2 th:text="${gioco.nome}">Card One</h2>
                <p th:text="${gioco.descrizione}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="bottoni">
                    <a th:href="'/gioco/' + ${gioco.id}">Read More</a>
                    <a href="#">Unbookmark</a>
                </div>
            </div>
        </div>
    </div>
    <div class="title2">
        <h1>Libri</h1>
    </div>
    <div class="container">
        <div class="box" th:if="${!user.getLibriPreferiti().isEmpty()}"
             th:each="libro : ${user.getLibriPreferiti()}">
            <span></span>
            <div class="content">
                <h2 th:text="${libro.nome}">Card One</h2>
                <p th:text="${libro.descrizione}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="bottoni">
                    <a th:href="'/libro/' + ${libro.id}">Read More</a>
                    <a href="#">Unbookmark</a>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Footer Section -->
<div th:replace="fragments/base.html :: fondo"></div>

<script type="text/javascript" th:src="@{/js/home.js}"></script>

</body>
</html>