<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="description" content="This site permits you vote and comment movies, books and games">
    <title>MBG Library Home</title> <!-- Or MBG(Movie Books Games) library -->
</head>
<body>

<!-- Navbar-->
<!-- NAVIGATION bar -->
<nav>
    <div class="container">
        <img src="../static/mbg1.png" alt="Logo" class="logo">
        <div class="logo-text">
            <div class="logo-text1">MBG Library</div>
            <div class="logo-text2" >explore your hobby</div>
        </div>
        <div class="menu">
            <ul class="nav-links">
                <li><a href="#" class="is-active">Home</a></li>
                <li><a href="#" >Film</a></li>
                <li><a href="#">Libri</a></li>
                <li><a href="#">Giochi</a></li>
                <li><a href="#">Serie TV</a></li>
            </ul>
        </div>

        <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>

<!-- Main structure -->
<main>
    <div class="main">
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
        <p> Deserunt dolorum fuga labore magni maxime nam non quae quam, quas sit tempore! </p>
    </div>
</main>

<!-- End Page -->
<!-- footer -->
<footer>
    <div class="footer-content">
        <h3>MBG Library</h3>
        <p>explore your hobby</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyrigth &copy;2022 MBG Library. Designed by <span>Oleksandr & Tiziano & Alessandro</span></p>
    </div>
</footer>
<script src="../static/index.js"></script>
</body>
</html>