<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This site permits you vote and comment movies, books and games">
    <title>MBG Library Home</title> <!-- Or MBG(Movie Books Games) library -->
</head>
<body>

<!-- Navbar-->
<header class="header">
</header>

<!-- Main structure -->
<main></main>

<!-- End Page -->
<footer class="footer">
    <p class="footer-text1">MBG Library</p>
    <p class="footer-text2" >Creato da Oleksandr, Tiziano e Alessandro</p>
</footer>
</body>
</html>