<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title th:text="#{title.login}">Login</title>
</head>
<body>
<div class="forms">
    <div class="form login">
        <span class="title">Login </span>
        <a th:href="@{/}">
            <div class="close-btn">
                <i class="uil uil-times close-bar"></i>
            </div>
        </a>


        <form th:action="@{/login}" method="POST" >
            <i class="bi bi-x-lg close-btn"></i>
            <div class="input-field">
                <input name="username" type="text" placeholder="Enter your email" required>
                <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
                <input name="password" type="password" class="password input" placeholder="Enter your password" required>
                <i class="uil uil-lock icon"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
            </div>

            <div class="errori err-txt" th:if="${param.error != null}">
                User don't exist
            </div>


            <div class="button__container">
                <button class="login__btn button" type="submit" th:text="#{button.login}">Login</button>
            </div>
        </form>


        <div class="login-signup">
                    <span class="text">You're new?
                        <a th:href="@{/register}" class="text signup-link" >Sing Up now!</a>
                    </span>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>