<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles(title)">
    <meta charset="UTF-8" />
    <link th:href="@{/css/login2.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This site permits you vote and comment movies, books and games">
    <title th:text="${title}"></title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar" th:fragment="intestazione">
            <div class="navbar__container">
                <a href="#home" id="navbar__logo">MBG Library</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="#home" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a th:href="@{/#film}" class="navbar__links" id="films-page">Film</a>
                    </li>
                    <li class="navbar__item">
                        <a th:href="@{/#tv-serie}" class="navbar__links" id="tv-series-page">Serie Tv</a>
                    </li>
                    <li class="navbar__item">
                        <a th:href="@{/#game}" class="navbar__links" id="games-page">Giochi</a>
                    </li>
                    <li class="navbar__item">
                        <a th:href="@{/#game}" class="navbar__links" id="books-page">Libri</a>
                    </li>
                    <li class="navbar__btn" sec:authorize="isAuthenticated()">
                        <a th:href="@{/default}" class="button user__icon" id="user-page"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="navbar__btn" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}" class="button" id="login-page">Login</a>
                    </li>
                    <li class="navbar__btn" sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" class="button" id="logout-page">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

    <!--Nav bar Admin -->
    <div class="navigation" th:fragment="intestazione-admin">
        <div class="menuToggle"></div>
            <ul>
                <li class="list active" th:style="'--crl:#f44336'">
                    <a th:href="@{/default}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list" th:style="'--crl:#302b63'">
                    <a th:href="@{/default#film}">
                        <span class="icon"><ion-icon name="videocam-outline"></ion-icon></span>
                        <span class="text">Film</span>
                    </a>
                </li>
                <li class="list" th:style="'--crl:#0fc70f'">
                    <a th:href="@{/default#serie-tv}">
                        <span class="icon"><ion-icon name="laptop-outline"></ion-icon></span>
                        <span class="text">Serie Tv</span>
                    </a>
                </li>
                <li class="list" th:style="'--crl:#2196f3'">
                    <a th:href="@{/default#game}">
                        <span class="icon"><ion-icon name="game-controller-outline"></ion-icon></span>
                        <span class="text">Game</span>
                    </a>
                </li>
                <li class="list" th:style="'--crl:#b145e9'">
                    <a th:href="@{/default#book}">
                        <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                        <span class="text">Book</span>
                    </a>
                </li>
                <li class="list" th:style="'--crl:#212121'">
                    <a th:href="@{/logout}">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
    </div>








<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>


    <!-- Footer Section -->
    <div class="footer__container" th:fragment="fondo">
        <div class="footer__links">
            <div class="footer__link--wrapper">

            </div>
        </div>
        <section class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo">MBG Library</a>
                </div>
                <p class="website__rights">© MBG Library 2022. All rights reserved</p>
                <div class="social__icons">
                    <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </section>
    </div>

<script th:src="@{js.new}"></script>
</body>
</html>