<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This site permits you vote and comment movies, books and games">
    <title>Admin Page</title>
</head>
<body>

<!-- Nav Bar -->
<nav th:replace="fragments/base.html :: intestazione-admin"></nav>

<!--Main-->
<div class="main">
    <p class="title">Benvenuto Nella Sezione Administratore</p>

    <!--Film-->
    <table>
        <caption>
            <p class="impostazioni-title" id="film">Impostazioni Film</p>
            <div class="lista-impostazioni">
                <a class="btn-creat" th:href="@{/admin/film}"><div class="creazione">Aggiungi Film</div></a>
            </div>
        </caption>
        <thead th:if="${!films.isEmpty()}">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Anno</th>
            <th scope="col">Genere</th>
            <th scope="col">Media</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td data-label="Nome Cognome" th:text="${film.nome}"></td>
            <td data-label="Nazionalita" th:text="${film.anno}">04/01/2016</td>
            <td data-label="Nazionalita" th:text="${film.genere}">04/01/2016</td>
            <td data-label="Nazionalita" th:text="${film.getMediaVoti()}">04/01/2016</td>
            <td data-label="">
                <div class="bottoni">
                    <div class="btn2">
                        <a th:href="@{'/admin/updateFilmForm/' + ${film.id}}"><div class="btn">Modifica</div></a>
                        <a th:href="@{'/deleteFilm/' + ${film.id}}" ><div class="btn">Cancella</div></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--Serie Tv-->
    <table>
        <caption>
            <p class="impostazioni-title" id="serie-tv">Impostazioni Serie TV</p>
            <div class="lista-impostazioni">
                <a class="btn-creat" th:href="@{/serieTvForm}"><div class="creazione">Aggiungi Film</div></a>
            </div>
        </caption>
        <thead th:if="${!series.isEmpty()}">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Anno</th>
            <th scope="col">Genere</th>
            <th scope="col">Episodi</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="serie : ${series}">
            <td data-label="Nome Cognome" th:text="${serie.nome}"></td>
            <td data-label="Nazionalita" th:text="${serie.anno}">04/01/2016</td>
            <td data-label="Nazionalita" th:text="${serie.genere}">04/01/2016</td>
            <td data-label="Buffet" th:if="${!serie.getEpisodi().isEmpty()}">
                <div th:each="episode : ${serie.episodi}">
                    <p th:text="${episode.nome}">Episodio</p>
                </div>
            </td>
            <td th:unless="${!serie.getEpisodi().isEmpty()}" th:text="'Nessuno'"></td>
            <td data-label="">
                <div class="bottoni">
                    <div class="btn2">
                        <a th:href="@{'/admin/updateSerieTVForm/' + ${serie.id}}"><div class="btn">Modifica</div></a>
                        <a th:href="@{'serieTv/delete/' + ${serie.id}}" ><div class="btn">Cancella</div></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--Game-->
    <table>
        <caption>
            <p class="impostazioni-title" id="game">Impostazioni Gioco</p>
            <div class="lista-impostazioni">
                <a class="btn-creat" th:href="@{/giocoForm}"><div class="creazione">Aggiungi Gioco</div></a>
            </div>
        </caption>
        <thead th:if="${!giochi.isEmpty()}">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Genere</th>
            <th scope="col">Media</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gioco : ${giochi}">
            <td data-label="Nome Cognome" th:text="${gioco.nome}"></td>
            <td data-label="Nazionalita" th:text="${gioco.genere}">04/01/2016</td>
            <td data-label="Nazionalita" th:text="${gioco.getMediaVoti()}">04/01/2016</td>
            <td data-label="">
                <div class="bottoni">
                    <div class="btn2">
                        <a th:href="@{'/admin/updateGiocoForm/' + ${gioco.id}}"><div class="btn">Modifica</div></a>
                        <a th:href="@{'/deleteGioco/' + ${gioco.id}}" ><div class="btn">Cancella</div></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--Book-->
    <table>
        <caption>
            <p class="impostazioni-title" id="book">Impostazioni Libro</p>
            <div class="lista-impostazioni">
                <a class="btn-creat" th:href="@{/admin/libro}"><div class="creazione">Aggiungi Libro</div></a>
            </div>
        </caption>
        <thead th:if="${!libri.isEmpty()}">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Anno</th>
            <th scope="col">Genere</th>
            <th scope="col">Media</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="libro : ${libri}">
            <td data-label="Nome Cognome" th:text="${libro.nome}"></td>
            <td data-label="Nazionalita" th:text="${libro.autore}">04/01/2016</td>
            <td data-label="Nazionalita" th:text="${libro.genere}">04/01/2016</td>
            <td data-label="Nazionalita" th:text="${libro.getMediaVoti()}">04/01/2016</td>
            <td data-label="">
                <div class="bottoni">
                    <div class="btn2">
                        <a th:href="@{'/admin/updateFilmForm/' + ${libro.id}}"><div class="btn">Modifica</div></a>
                        <a th:href="@{'/deleteFilm/' + ${libro.id}}" ><div class="btn">Cancella</div></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>




<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>